@model Cooperativa.Models.Creditos

@{
    Layout = "~/Views/Shared/AdministradorLayout.cshtml";
}

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Creditos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="montoCredito" class="control-label"></label>
                <input asp-for="montoCredito" class="form-control" />
                <span asp-validation-for="montoCredito" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="fechaCredito" class="control-label"></label>
                <input asp-for="fechaCredito" class="form-control" />
                <span asp-validation-for="fechaCredito" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label>Fecha de Crédito</label>
                <input type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" readonly />
                @Html.HiddenFor(m => m.fechaCredito, new { Value = DateTime.Now }) <!-- Campo oculto para la fecha -->
            </div>
            <div class="form-group">
                <label asp-for="tiempo" class="control-label"></label>
                <input asp-for="tiempo" class="form-control" />
                <span asp-validation-for="tiempo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="interes" class="control-label"></label>
                <input asp-for="interes" class="form-control" />
                <span asp-validation-for="interes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cuota" class="control-label"></label>
                <input asp-for="cuota" class="form-control" />
                <span asp-validation-for="cuota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <input asp-for="estado" class="form-control" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalCredito" class="control-label"></label>
                <input asp-for="totalCredito" class="form-control" />
                <span asp-validation-for="totalCredito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="socio" class="control-label"></label>
                @* <input asp-for="socio" class="form-control" /> *@
                <select asp-for="socio" class="form-control" asp-items="ViewBag.socio"></select>
                <span asp-validation-for="socio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
